/*   Tic-Tac-Toe Project by Chris Tobeck, WDI-BOS-07 at General Assembly.   */

body {
  font-family: Tahoma, Verdana, sans-serif;
  background-image: url("images/background-02-b.jpg");
}

#scoreboard {
  margin: 0 auto;
  display: table;
  color: #000000;
}

#board {
  margin: 0 auto;
  display: table;
  border-style: solid;
  border-color: #000000;
}

#reset {
  margin: 0 auto;
  display: table;
  background-color: #000000;
  color: #FFFFFF;
  margin-top: 20px;
}

.square {

  height: 120px;
  width: 120px;
  background-color: #FF4D4D;
  border: 5px solid black;
  text-align: center;
  vertical-align: middle;
  float:left;
}
.row{
  clear: both;
}
